@media screen and (min-width: 600px) {
    #restaurants-list li {
        width: calc((100% - 20px) / 2);
    }

    #restaurant-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #address-and-hours,
    #thumb {
        max-width: 45%;
        min-width: 45%;
    }
}

@media screen and (min-width: 978px) {
    #restaurants-list li {
        width: calc((100% - 40px) / 3);
    }
}
